/* ======== Font ======== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ======== Common Styles ======== */
:root {
    --primary-color: #E02C6D;
    --background-color: #0A0826;
    --primary-text-color: #000000;
    --secondary-text-color: #3A3A3A;
    --text-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.mb-100 {
    margin-bottom: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button span {
    transition: transform 0.3s;
}

.button:hover span {
    transform: translateX(8px);
}

.primary-button {
    background: var(--primary-color);
    color: var(--text-white);
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.primary-button span {
    margin-left: 10px;
}

/* ======== Header Area ======== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu-toggle {
    display: none;
}

.hamburger-toggler {
    display: none;
    font-size: 24px;
}

.logo {
    color: var(--primary-text-color);
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-item {
    padding: 10px 20px;
    font-weight: 600;
}

.menu-item,
.utility-menu-item {
    font-weight: 600;
    color: var(--primary-text-color);
}

.menu-item:hover,
.utility-menu-item:hover {
    font-weight: 600;
    color: var(--primary-color);
}

.utility-menu-list {
    display: flex;
    margin-left: 20px;
}

.utility-menu-item {
    padding: 15px;
    vertical-align: middle;
    font-size: 22px;
}

.utility-menu-list-item:last-child .utility-menu-item {
    padding-right: 0;
}


/* ======== Main Area ======== */

/* -------- Hero Area -------- */
.hero-area .row {
    display: flex;
    align-items: center;
}

.hero-info,
.hero-banner {
    width: 50%;
}

.hero-heading {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 40px;
    color: var(--secondary-text-color);
}

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-image-bg-border {
    max-width: 500px;
    max-height: 500px;
    padding: 100px;
    border: 5px dashed rgba(241, 228, 255, 0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-bg-solid {
    max-width: 350px;
    max-height: 350px;
    background: rgba(241, 228, 255, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    max-width: 500px;
    animation: floating 3.5s ease-in-out 0.1s infinite alternate;
    transition: transform 0.2s;
}

/* -------- Partner Brand Area ------- */
.horizontal-bordar {
    height: 2px;
    border: none;
    background: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6), rgba(192, 204, 218, 0.1));
}

.brand-logos {
    margin-left: 50px;
    margin-right: 50px;
}

.logo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.partner-logo-img {
    padding: 10px 20px;
}

/* -------- Product Area -------- */
.section-title {
    text-align: center;
    font-size: 28px;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px;
}

.product-card {
    padding: 15px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-name {
    color: var(--primary-text-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.product-price {
    color: var(--primary-text-color);
    font-size: 16px;
    margin-bottom: 10px;
}

.product-ratings {
    display: flex;
    color: var(--secondary-text-color);
    font-size: 14px;
    margin-bottom: 10px;
}

.product-rating-stars span {
    color: #ffbd00;
}

.star-count {
    margin-left: 5px;
    color: var(--secondary-text-color);
}

.devider {
    margin-left: 10px;
}

.ratings-count {
    margin-left: 10px;
}

.stock {
    color: #008a00;
    font-size: 14px;
    margin-bottom: 10px;
}

.stock span {
    margin-right: 5px;
}

.shipping {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.shipping span {
    margin-right: 5px;
}

.buyer-protection {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.buyer-protection span {
    margin-right: 5px;
}

.secondary-button {
    margin: 0 50px;
    color: var(--primary-color);
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.secondary-button span {
    margin-left: 10px;
}

/* -------- Featured Area -------- */
.featured-area .row {
    display: flex;
    align-items: center;
}

.featured-products,
.featured-info {
    width: 50%;
}

.featured-thumbnail {
    width: 85%;
}

.featured-image {
    width: 100%;
    border-radius: 8px;
    vertical-align: middle;
}

.featured-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.featured-description {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--secondary-text-color);
    margin-bottom: 40px;
}


/* ======== Footer Area ======== */
.footer-area {
    background: var(--background-color);
    color: var(--text-white);
    padding: 50px 0;
    text-align: center;
}

.site-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.copy-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.social-icon span {
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ========= Animation ======= */

/* Animation for hero image */
@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }

}


/* ======== @ Media Queries ========  */

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .container {
        width: 90%;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    /* -------- Header Area -------- */
    .navbar {
        margin-top: 0;
    }

    .hamburger-toggler {
        display: block;
    }

    .menu-list {
        display: none;
    }

    .utility-menu-list {
        margin-left: 0;
    }

    .utility-menu-list-item:nth-child(2) {
        display: none;
    }

    .utility-menu-item {
        padding: 0 10px;
    }

    .utility-menu-list-item:first-child .utility-menu-item {
        padding-left: 0;
    }


    /* ------- Hero Area ------- */
    .hero-area .row {
        flex-direction: column-reverse;
    }

    .hero-info,
    .hero-banner {
        width: 100%;
    }

    .hero-info {
        text-align: center;
        padding-bottom: 15px;
    }

    .hero-heading {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .hero-image-container {
        justify-content: center;
    }

    .hero-image-bg-border {
        padding: 40px;
    }

    .hero-image-bg-solid {
        max-width: 200px;
        max-height: 200px;
    }

    .hero-image {
        max-width: 270px;
    }

    /* ------- Partner Brand Area ------- */
    .brand-logos {
        margin: 0;
    }

    .horizontal-bordar {
        display: none;
    }

    .logo-list {
        flex-wrap: wrap;
        row-gap: 10px;
        padding: 0;
    }

    .partner-logo-img {
        padding: 10px;
        height: 45px;
    }

    /* -------- Product Area -------- */
    .section-title {
        margin-bottom: 30px;
    }

    .product-grid-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        margin-bottom: 30px;
        gap: 0;
        row-gap: 30px;
    }

    .secondary-button {
        margin: 0;
    }

    /* -------- Featured Area ------- */
    .featured-area .row {
        flex-direction: column-reverse;
    }

    .featured-thumbnail {
        width: 100%;
    }

    .featured-products,
    .featured-info {
        width: 100%;
    }

    .featured-info {
        text-align: center;

    }

    .featured-title {
        margin-bottom: 15px;
        font-size: 28px;
    }
}

/* -------- End ------- */